.create-idea {
    width: 67%;
    height: 100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}

.create-idea-button {
    text-align: center;
    width: 90%;
    height: 100%;
    font-size: 150%;

}

.write-idea-box {
    width: 85.42%;
    height: 100%;
    font-size: 120%;
    float: left;
    resize: none;
}

.submit-idea-button {
    width: 14%;
    height: 52.5%;
    float: right;
}

.cancel-idea-button {
    width: 14%;
    height: 52.5%;
    float: right;
}